* {
  margin: 0;
  padding: 0;
}

button {
  width: 70px;
}

nav {
  width: 100vw;
  position: fixed;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: black;
  opacity: 90%;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

.childCompBody {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
